@use "./variables";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;
  &.collapse {
    .header__box {
      max-height: 40px;
      height: auto;
    }
    .btn.header-expand {
      transform: translateX(-50%);
      bottom: -16px;
    }
  }
  .btn.header-expand {
    width: 2rem;
    height: 16px;
    background: rgba(255,255,255,.8) url(./../../images/icon__arrow-down.svg) no-repeat;
    background-position: bottom -1px center;
    background-size: 20px;
    border-radius: 0 0 16px 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(180deg);
    &.hide {
      display: none;
    }
  }
  &__box {
    max-height: 200px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  .header__right {
    // display: flex;
    // align-items: flex-end;
    // justify-content: flex-end;
    // flex-direction: column;
    .header__right-top {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .toggle {
      position: relative;
      width: 56px;
      height: 30px;
      label {
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #48484A;
        border-radius: 15px;
        cursor: pointer;
      }
      input {
        position: absolute;
        display: none;
      }
      .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: 0.3s;
      }
      input:checked ~ .slider {
        background-color: #fff;
      }
      .slider::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: inset 8px -1px 0px 0px #fff;
        background-color: #48484A;
        transition: 0.3s;
      }
      input:checked ~ .slider::before {
        transform: translateX(25px);
        background-color: #EC6E4C;
        box-shadow: none;
      }
    }
  }
  .logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    .logo__link {
      color: #000;
      font-family: variables.$playfulFont;
      font-size: 40px;
      text-shadow: 4px 2px #fff;
      display: flex;
      letter-spacing: 4px;
      .film {
        width: 38px;
        vertical-align: bottom;
        background: url(./../../images/icon__film-fff.svg) no-repeat;
        background-position: 3px 2px;
        margin-left: -2px;
        margin-top: 1px;
      }
    }
    .fa-solid {
      font-size: 13px;
    }
  }
  menu {
    display: flex;
    gap: 20px;
    font-family: variables.$playfulFont;
    letter-spacing: 1px;
    a {
      color: #000;
    }
  }
  form {
    display: flex;
    position: relative;
    margin-top: 6px;
    input {
      border: none;
      border-bottom: 2px solid #191919;
      padding: 3px 35px 3px 8px;
      width: 150px;
      background-color: transparent;
      font-family: variables.$playfulFont;
      &::placeholder,
      &::-ms-input-placeholder {
        color: #000;
      }
    }
    button {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 5px;
      right: 0;
      i {
        font-size: 20px;
      }
    }
  }
}

.weather {
  display: flex;
  align-items: center;
  &__icon {
    width: 48px;
    height: 48px;
    img {
      width: 100%;
    }
    // <i class="fa-solid fa-cloud"></i>
    // <i class="fa-solid fa-bolt-lightning"></i>
    // <i class="fa-solid fa-umbrella"></i>
    // <i class="fa-solid fa-wind"></i>
    // <i class="fa-solid fa-snowflake"></i>
  }
  &__location {
    font-family: variables.$playfulFont;
    letter-spacing: 1px;
    display: none;
  }
}

footer {
  height: 50px;
  padding: 30px;
  text-align: center;
  font-size: 12px;
  p {
    line-height: 1px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 16px 32px;
    height: auto;
    max-height: 100%;
    .header__right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      .header__right-top {
        gap: 16px;
      }
      .toggle {
        margin-right: -10px;
      }
    }
    .btn.header-expand {
      display: none;
    }
    &__box {
      max-height: auto;
      overflow: unset;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .logo {
      flex-direction: row;
      align-items: flex-end;
      gap: 2rem;
    }
    .header__right {
      flex-direction: row-reverse;
      align-items: center;
      gap: 16px;
    }
  }
  .weather {
    &__location {
      display: inline-block;
    }
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    &__inner {
      position: fixed;
      top: 32px;
      flex-direction: column;
      left: 44px;
    }
    .logo {
      flex-direction: column;
      order: -1;
      margin-left: -15px;
      .logo__link {
        font-size: 70px;
        .film {
          margin-top: 24px;
        }
      }
    }
    menu {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .header__right {
      flex-direction: column;
      margin-top: 48px;
      align-items: center;
      .header__right-top {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 30;
  }
}