@use './variables';
@use './mixins';

.container {
  @include mixins.changeMode('light');
  &.dark {
    @include mixins.changeMode('dark');
  }
  &.rain {
    @include mixins.changeMode('rain');
  }
}

main {
  min-height: calc(100vh - 196px);
  padding: 2rem 1rem;
}

.section {
  margin-bottom: 2rem;
  position: relative;
  &.right {
    .arrow.right {
      opacity: 0;
    }
  }
  &.left {
    .arrow.left {
      opacity: 0;
    }
  }
  .arrow {
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    z-index: 1;
    opacity: 1;
    transition: all .3s ease-in-out;
    position: absolute;
    padding: .5rem;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      display: inline-block;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  &.movie,
  &.tv,
  &.results,
  &.suggestion {
    overflow: hidden;
    &.hide {
      display: none;
    }
  }
  &.results {
    &.empty {
      .arrow,
      .scroll-hidden {
        display: none;
      }
    }
  }
  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem 0 0;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;

    text-decoration: underline 8px rgba(0,204,156, .5);
    text-decoration-skip-ink: none;
    text-underline-offset: -4px;

  //   &::after {
  //     content: "";
  //     display: block;
  //     width: 100%;
  //     height: .625rem;
  //     background-color: rgba(0,204,156, .5);
  //     position: absolute;
  //     bottom: -0.1875rem;
  //   }
  }
}
.scroll-hidden {
  position: relative;
  padding-bottom: 50px;
  margin-bottom: -50px;
  overflow-x: auto;
  overflow-y: visible;
}
.charts {
  width: 100%;
  padding: 0 .5rem 0 0;
  white-space: nowrap;
  font-size: 0;
  margin-left: -.5rem;
  .item {
    width: 9.375rem;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 .3rem;
    &__title {
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      white-space: initial;
      margin-top: .5rem;
    }
    &__image {
      overflow: hidden;
      width: variables.$mobileImage;
      @include mixins.imageScale(variables.$mobileImage);
      background-color: #ccc;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px ) {
  main {
    padding: 2rem;
  }
  .section::before,
  .section::after {
    top: 44%;
  }
  .charts {
    .item {
      width: variables.$tabletImage;
      overflow: hidden;
      @include mixins.imageScale(variables.$tabletImage);
      transition: all .4s ease-in-out;
      &__image {
        display: inline-block;
        width: variables.$tabletImage;
        @include mixins.imageScale(variables.$tabletImage);
      }
      &__info {
        display: inline-block;
        width: 108px;
        margin-left: 12px;
        border-bottom: 1px solid #000;
        padding-bottom: 1rem;
        vertical-align: bottom;
        .item__title {
          margin-bottom: 1rem;
          text-align: left;
        }
        .item__score {
          font-size: 13px;
        }
      }
      &:hover {
        width: variables.$tabletImageHover;
        // @include mixins.imageScale(variables.$mobileImage);

      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    width: calc(100vw - 310px);
    padding-bottom: 60px;
  }
}

.mood-box {
  button {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
  width: 50px;
  position: fixed;
  right: 1rem;
  bottom: 50%;
  background-color: rgba(0,0,0, .5);
  display: flex;
  flex-direction: column-reverse;
  border-radius: 25px;
  &__control {
    width: 50px;
    height: 50px;
  }
  &__types {
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
  }
  &.open {
    padding: 15px 5px;
    button {
      width: 100%;
      border-radius: 50%;
      background-color: orange;
    }
    .mood-box__types {
      max-height: 300px;
      li {
        margin-bottom: 10px;
      }
    }
  }
}